<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <label>
            id:<input type="text" v-model="id"/>
        </label>

        <label>
                name:<input type="text" v-model="name"/>
            </label>

            <input type="button" value="添加" @click="add"/>
        <div v-for='i in 10'>{{i}}</div>
        <p v-for='user in list1' :key="user.id">
            id為：{{user.id}}------name為：{{user.name}}
        </p>
        <p v-for='(index,item) in list2'>index為：{{index}}------item為：{{item}}</p>
    </div>
</body>
<script>
    let vue = new Vue({
        el: '#app',
        data: {
            id:'',
            name:'',
            list1: [
                { id:'1',name: '張三' },
                { id:'2',name: '李四' },
                { id:'3',name: '王五' },
            ],
            list2:[1,2,3,4,5,6],
            // user: {
            //     id: '1',
            //     name: 'test',
            // },
        },
        methods: {
            add:function(){
                this.list1.push({id:this.id,name:this.name})
            }
        }
    })
</script>

</html>